<?php
// Do not change this file.
// 
// Usenet Server Config
//
define('NNTP_USERNAME', 'changeme_nntp_username');
define('NNTP_PASSWORD', 'changeme_nntp_password');
define('NNTP_SERVER', 'changeme_nntp_server');
define('NNTP_PORT', 'changeme_nntp_port');
define('NNTP_SSLENABLED', changeme_nntp_sslenabled);


define('DB_SYSTEM', 'changeme_db_system');
define('DB_HOST', 'changeme_db_host');
define('DB_PORT', 'changeme_db_port');
define('DB_SOCKET', 'changeme_db_socket');
define('DB_USER', 'changeme_db_user');
define('DB_PASSWORD', 'changeme_db_password');
define('DB_NAME', 'changeme_db_name');
define('DB_PCONNECT', false);

define('NNTP_SOCKET_TIMEOUT', '120');

define('NNTP_USERNAME_A', '');
define('NNTP_PASSWORD_A', '');
define('NNTP_SERVER_A', '');
define('NNTP_PORT_A', '119');
define('NNTP_SSLENABLED_A', false);
define('NNTP_SOCKET_TIMEOUT_A', '120');

define('nZEDb_SSL_CAFILE', '');
define('nZEDb_SSL_CAPATH', '');
define('nZEDb_SSL_VERIFY_PEER', '');
define('nZEDb_SSL_VERIFY_HOST', '');
define('nZEDb_SSL_ALLOW_SELF_SIGNED', '1');
